.navUl{
    display: flex;
    float: right;
}
.navItem{
    list-style-type: none;
    display: inline-block;
    margin: 10px;
}
.navLink{
    color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin: 0px 50px;
    text-decoration: none;
}
.searchForm{
    display: flex;
}
#logo{
    width: 50px;
    height: 50px;
    margin: 10px;
}

 .searchBtn{
    background-color: rgb(203, 233, 34);
 }
 .navbar{
    background-color: rgb(5, 82, 18);
    align-items: center;
}
.ShippingClass{
    margin: 50px 500px;
}
.DeliveriesClass{
    margin: 50px 500px;
}
.insideClass{
    margin: 0px 500px;
}
.tableClass{
    margin: 0px 500px;
}
table{
    border-collapse:collapse ;
}
td{
    border: 1px solid black;
    padding: 10px;
}
th{
    border: 1px solid black;
    padding: 10px;
}
.outsideClass{
    margin: 50px 500px;
}